<header class="header">
  <div class="container header__container">
    <a href="#" class="logo"><img src="img/logo.svg" alt="DmLeasing" class="logo__img"></a>
    <nav class="nav">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a class="nav__link " href="#">NEW CARS</a></li>
        <li class="nav__item"><a class="nav__link " href="#">PRE-OWNED CARS</a></li>
        <li class="nav__item"><a class="nav__link " href="#">FINANCE</a></li>
        <li class="nav__item"><a class="nav__link " href="#">LEASE VS BUY</a></li>
        <li class="nav__item"><a class="nav__link " href="#">CONTACT US</a></li>
      </ul>
    </nav>
  </div>
</header>