<section class="promo">
  <div class="container">
    <h1 class="title">Leasing From D&M</h1>
    <a href="#" class="promo__link">FIND A CAR</a>
  </div>
</section>
<div class="promo__slider">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image: url(img/promo/promo-bg.jpg)"></div>
      <div class="swiper-slide" style="background-image: url(img/promo/promo-bg.jpg)"></div>
      <div class="swiper-slide" style="background-image: url(img/promo/promo-bg.jpg)"></div>
      <div class="swiper-slide" style="background-image: url(img/promo/promo-bg.jpg)"></div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>